[Unit]
Description = User Service
[Service]
User=roboshop
Environment=MONGO=true
Environment=REDIS_HOST={{ lookup('aws_ssm', 'dev.redis', region='us-east-1') }}
Environment=MONGO_URL="mongodb://{{ lookup('aws_ssm', 'dev.mongodb', region='us-east-1') }}:27017/users"
ExecStart=/bin/node /app/server.js
SyslogIdentifier=user
 
[Install]
WantedBy=multi-user.target
